<button mat-button>
    <mat-icon>add</mat-icon>
    Click Me
</button>



<br>
<br>
<button mat-raised-button>
    <mat-icon>add</mat-icon>
    Click Me</button>
<br>
<br>
<button mat-stroked-button>
    <mat-icon>add</mat-icon>
    Click Me</button>
<br>
<br>
<button mat-icon-button>
    <mat-icon>add</mat-icon>
</button>
<br>
<br>
<button mat-fab>
    <mat-icon>add</mat-icon>
</button>
<br>
<br>
<button mat-mini-fab>
    <mat-icon>add</mat-icon>
</button>
<br>
<br>
<mat-checkbox>Check me!</mat-checkbox>